@import url(normalize.css);
@import url(reset.css);
@import url(flex-utility.css);

/* Variants */
:root {
  /* Base units */
  --base-unit: 27px;
  --base-unit-x2: 54px;
  --base-unit-x3: 81px;

  /* Color styles */
  --deep--green: rgba(35, 41, 38, 1);
  --dark--green: rgba(30, 61, 58, 1);
  --green: rgba(47, 111, 106, 1);
  --primary: rgba(78, 174, 163, 1);
  --primary--light: rgba(117, 220, 205, 1);
  --secondary: rgba(167, 220, 212, 1);
  --secondary--light: rgba(215, 255, 248, 1);
  --greenish--gray: rgba(88, 103, 97, 1);
  --cool--gray: rgba(224, 228, 228, 1);
  --ghost--gray: rgba(241, 245, 249, 1);
  --snow--gray: rgba(248, 250, 252, 1);
  --ice: rgba(244, 255, 253, 1);
  --vanilla: rgba(255, 247, 237, 1);
  --white: rgba(255, 255, 255, 1);
  --point: rgba(255, 122, 107, 1);
  --alyak-color: rgba(198, 255, 0, 1);

  /* Text-size styles */
  --heading--x-l: 64px;
  --heading--l: 40px;
  --heading--m: 30px;
  --heading--s: 22px;
  --heading--x-s: 16px;
  --body--l: 28px;
  --body--m-p: 20px;
  --body--m: 16px;
  --body--s: 14px;
  --nav--item: 24px;
  --link: 16px;
  --button---primary: 14px;
  --button---secondary: 14px;

  /* Effect styles */
  --standard--shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  --content-blur: 6px 6px 15px rgba(0, 0, 0, 0.3);
  --highlight--register: 0px 0px 20px rgba(78, 174, 163, 1);
  --highlight--right: 3px 4px 20px rgba(78, 174, 163, 1);
  --highlight--blur--s: 0px 0px 15px rgba(167, 220, 212, 1);
  --highlight--blur--l: 0px 0px 30px rgba(167, 220, 212, 1);
}

/* Layout */
.container {
  width: 1272px;
}
.ir {
  position: absolute;
  inset: 100%;
  width: 1px;
  height: 1px;
  text-indent: 65535px;
  overflow: hidden;
}
main {
  padding-top: 81px;
}
/* //Layout */

/* Typography */
body {
  font-family: "Noto Sans", sans-serif;
}
.heading-xl {
  font-size: var(--heading--x-l);
  line-height: var(--base-unit-x3);
  font-weight: bold;
  letter-spacing: 2%;
}
.heading-l {
  font-size: var(--heading--l);
  line-height: var(--base-unit-x2);
  font-weight: bold;
  letter-spacing: 2%;
}
.heading-m {
  font-size: var(--heading--m);
  line-height: var(--base-unit-x2);
  font-weight: bold;
}
.heading-s {
  font-size: var(--heading--s);
  line-height: var(--base-unit);
  font-weight: bold;
}
.heading-xs {
  font-size: var(--heading--x-s);
  line-height: var(--base-unit);
  font-weight: 600;
}
.body-l {
  font-size: var(--body--l);
}
.body-mp {
  font-size: var(--nav--item);
  line-height: var(--base-unit);
}
.body-m {
  font-size: var(--nav--item);
  line-height: var(--base-unit);
}
.body-s {
  font-size: var(--nav--item);
  line-height: var(--base-unit);
}
.nav-item {
  font-size: var(--nav--item);
  line-height: var(--base-unit-x2);
  font-weight: bold;
}
/* //Typography */

/* Linked Buttons */
.header-container nav a {
  display: inline-block;
  padding: 0px 12px;

  background: var(--deep--green);
  border-radius: 10px;
  color: var(--ghost--gray);
  box-shadow: none;

  transition: 300ms ease-out;
}
.header-container nav a:hover {
  color: var(--primary);
  box-shadow: var(--highlight--register);
}
/* //Linked Buttons */

/* header-container */
.header-container .logo-group {
  gap: 12px;
}
.header-container .logo-group > a {
  width: 51px;
  height: 54px;
  background: url("/image/mascot-transparent.png") no-repeat 0 0 / cover;
}
.header-container .logo-group h1 a {
  display: block;
  width: 205px;
  height: 27px;
  background: url("/image/est-logo-header.png") no-repeat 0 0 / cover;
}
.header-container nav ul {
  gap: 24px;
}
/* //header-container */

/* pagination */
.pagination {
  padding: 8.5px;
  gap: 15px;
}
.pagination button {
  width: 40px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--secondary);
}
.pagination button.active {
  background-color: var(--green);
}
/* //pagination */

/* Statistics Item */
.statistics-item {
  display: inline-block;
  width: 408px;
  padding: var(--base-unit) 0;
  background: var(--ghost--gray);
  border-radius: 10px;
  box-shadow: var(--standard--shadow);
  text-align: center;
  box-sizing: border-box;
}
.statistics-item h6 {
  font-size: var(--heading--m);
  color: var(--dark--green);
}
.statistics-item p {
  font-size: var(--heading--l);
  color: var(--primary);
}
/* //Statistics Item */
